@import "tailwindcss";

/* Smooth dark mode transition */
html {
  transition: background-color 0.3s, color 0.3s;
}

@custom-variant dark (&:where(.dark, .dark *));

/* // Basic CSS for loader (add this to your main CSS file, e.g., index.css or App.css) */

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
